@import "tailwindcss";

:root {
  --background: #2e2d32;
  --foreground: #d9d9d9;
  --surface: #1f282f;
  --border-color: #525252; 

  
}
@layer base {
  button {
    @apply transition duration-200 hover:brightness-80 cursor-pointer rounded-xs;
  }
  option {
    cursor: pointer;
  }
  * {
    border-color: var(--border-color);
  }
  
  
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
}

body {
  background: var(--background);
  color: var(--foreground);
}
